:root {
    --color-primary: #e75110;
    --color-secondary: #192430;
    --color-success: #00b200;
    --color-border: #7c90a7;
    --color-line: #f0f0f0;
    --color-text: #192430;
    --border-radius: 10px;
}