@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
:root {
  --color-primary: #e75110;
  --color-primary-light: rgba(231, 81, 16, 0.05);
  --color-secondary: #192430;
  --color-secondary-light: rgba(25, 36, 48, 0.05);
  --color-success: #00b200;
  --color-border: #7c90a7;
  --color-line: #f0f0f0;
  --color-text: #192430;
  --border-radius: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
}

a {
  text-decoration: none;
  color: #fff;
}

/* Typography */

h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  color: var(--color-primary);
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  color: var(--color-secondary);
  font-size: 1.4rem;
}

/* Buttons */

.icon {
  width: 45px;
  height: 45px;
}

.btn {
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-flex;
  font-size: 1.5rem;
  justify-content: space-around;
  padding: 1.3rem 3.5rem;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--success {
  background-color: var(--color-success);
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.btn--success:hover {
  box-shadow: 2px 2px 12px -6px gray;
  transform: scale(1.02);
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.btn--primary:hover {
  box-shadow: 2px 2px 12px -6px gray;
  transform: scale(1.02);
}

.btn--primary:hover .btn__icon {
  fill: var(--color-secondary);
}

.btn--outline {
  border: 1px solid var(--color-border);
  color: var(--color-border);
  transition: all 0.2s ease-in-out;
}

.btn--outline:hover {
  background-color: var(--color-secondary-light);
  box-shadow: 2px 2px 12px -6px gray;
  transform: scale(1.02);
}

.btn--primary-light {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  transition: all 0.2s ease-in-out;
}

.btn--primary-light:hover {
  background-color: var(--color-primary);
  box-shadow: 2px 2px 12px -6px gray;
  color: #fff;
  transform: scale(1.02);
}

.btn--block {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  display: block;
  margin: 1rem 2rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn--block:hover {
  background-color: var(--color-primary);
  box-shadow: 2px 2px 12px -6px gray;
  color: #fff;
  transform: scale(1.02);
}

.btn-group.btn {
  padding: 15px 15px 15px 5px;
  width: 150px;
}

.btn__icon {
  padding: 0 10px;
}

.btn .icon {
  width: 42px;
  height: 22px;
}

/* Input group */

.input-group {
  align-items: center;
  background-color: var(--color-secondary-light);
  border-radius: var(--border-radius);
  display: inline-flex;
  font-size: 1.5rem;
  justify-content: center;
  margin: 0.5rem 1rem;
  padding: 1rem;
}

.input-group .icon {
  cursor: pointer;
  height: 20px;
  width: 45px;
}

.input-group .input {
  background-color: transparent;
  border: none;
  color: var(--color-border);
  min-width: 300px;
  outline: none;
  padding: 0.5rem;
}

.input-group .input::placeholder {
  color: var(--color-border);
}

.input-group .btn {
  padding: 1rem 2rem;
}
/* Navigation bar */

.nav {
  background-color: var(--color-primary);
}

.nav__menu {
  font-weight: lighter;
  text-transform: capitalize;
  color: #fff;
  font-size: 2rem;
  /* display: flex; */
  list-style: none;
  padding-right: 2rem;
}

.nav__item {
  display: inline-block;
  padding: 1.8rem;
  transition: all 0.2s ease;
}

.nav__item.active {
  background-color: var(--color-secondary);
}

.nav__item .icon {
  width: 40px;
  height: 20px;
}

.nav__item:last-child {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.nav__item:hover {
  background-color: var(--color-secondary);
}

/* Badges */

.badge {
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.123);
  display: inline-flex;
  font-size: 1.2rem;
  justify-content: center;
  padding: 1rem;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary-light);
}

.badge .icon {
  height: 13px;
  margin: 0.3rem;
  width: 13px;
}

.badge__index {
  color: var(--color-border);
  font-size: 0.9rem;
  padding-left: 0.3rem;
}

/* Cards */

.card {
  background-color: #fff;
  border-right: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  display: inline-flex;
  flex-direction: column;
}
.card__header {
  position: relative;
}
.card__img {
  margin: 2rem 0;
  width: 100%;
}

.card__header .badge {
  position: absolute;
}

.card__title {
  color: var(--color-secondary);
  font-size: 1.4rem;
  font-weight: lighter;
  margin: 1rem;
}
.card__price {
  color: var(--color-primary);
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  justify-content: space-between;
  margin: 1rem;
}
.card__price .current-price::before {
  content: "Price: $";
}
.old-price {
  color: var(--color-secondary);
  text-decoration: line-through;
}
.card__vendor {
  align-items: center;
  border-top: 1px solid #f0f0f0;
  color: var(--color-border);
  display: flex;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem 0;
}
.card__vendor .icon {
  height: 18px;
  width: 35px;
}
.card__off {
  left: 15px;
  top: 15px;
}
.card__star {
  bottom: 5px;
  left: 10px;
}
.card__cat {
  right: 15px;
  top: 15px;
}
.card__palette {
  bottom: 10px;
  padding: 0.5rem;
  right: 20px;
}
.circle {
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  height: 20px;
  margin-right: 3px;
  width: 20px;
}
.circle-blue {
  background-color: #22a9e5;
}
.circle-red {
  background-color: #ff2f2f;
}
.circle-black {
  background-color: #191212;
}

/* Profile card */
.profile {
  background-color: #fff;
  border-right: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 1rem 2rem;
}
.profile__header {
  position: relative;
}
.profile__img {
  clip-path: circle(39% at 50% 50%);
  width: 100%;
}
.profile__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 2rem;
  text-align: center;
}
.profile__desc {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 10px 0;
}
.profile .btn--block {
  margin: 1rem 0;
}
.profile .badge {
  position: absolute;
}
.profile__star {
  top: 20px;
  left: 20px;
  z-index: 20;
}

/* Footer */
.footer {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
}
.footer__icons {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}
.footer__contacts {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  display: flex;
  margin: 0 2rem;
  padding: 2rem 0;
}
.icon-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.icon__title {
  color: #fff;
}
.contacts {
  display: flex;
  flex: auto;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid #000;
}
.footer__logo {
  height: 60px;
}
.phone {
  align-items: center;
  color: var(--color-border);
  display: flex;
  font-size: 2rem;
}
.phone .icon {
  height: 25px;
  margin-right: 10px;
  width: 25px;
}
.footer .input-group {
  background-color: var(--color-border);
  padding: 0.5rem;
}
.footer .input,
.footer .input::placeholder {
  color: #fff;
}
.footer__links {
  display: flex;
  margin: 2rem 2rem;
}
.footer__title {
  color: #fff;
  font-size: 2rem;
}
.social-media {
  flex: 1;
}
.social-icons .icon {
  margin: 1rem;
}
.footer__menu {
  flex: auto;
  display: flex;
  justify-content: space-evenly;
}
.footer__menu .menu {
  list-style: none;
}
.footer__menu .menu-item {
  padding: 1rem 0;
}
.footer__menu .menu-item a {
  color: var(--color-border);
  font-size: 1.4rem;
}
.apps {
  align-items: center;
  color: #fff;
  display: flex;
  flex: auto;
  font-size: 1.5rem;
  justify-content: space-around;
}
.apps .icon {
  width: 40px;
  height: 40px;
}
.apps .btn {
  color: #fff;
  background-color: #000;
  font-weight: lighter;
  padding: 1rem 1rem;
}
.copyright {
  margin-top: 3rem;
  position: relative;
  height: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  vertical-align: middle;
}
.copyright__logo {
  position: absolute;
  top: -100%;
  left: 20px;
}
