@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
:root {
    --color-primary: #e75110;
    --color-primary-light: rgba(231, 81, 16, 0.05);
    --color-secondary: #192430;
    --color-secondary-light: rgba(25, 36, 48, 0.05);
    --color-success: #00b200;
    --color-border: #7c90a7;
    --color-line: #f0f0f0;
    --color-text: #192430;
    --border-radius: 10px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}


/* Typography */

h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    color: var(--color-primary);
    font-size: 1.8rem;
    font-weight: bold;
}

p {
    color: var(--color-secondary);
    font-size: 1.4rem;
}


/* Buttons */

.icon {
    width: 45px;
    height: 45px;
}

.btn {
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-flex;
    font-size: 1.5rem;
    justify-content: space-around;
    padding: 1.3rem 3.5rem;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--success {
    background-color: var(--color-success);
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.btn--success:hover {
    box-shadow: 2px 2px 12px -6px gray;
    transform: scale(1.02);
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.btn--primary:hover {
    box-shadow: 2px 2px 12px -6px gray;
    transform: scale(1.02);
}

.btn--primary:hover .btn__icon {
    fill: var(--color-secondary);
}

.btn--outline {
    border: 1px solid var(--color-border);
    color: var(--color-border);
    transition: all 0.2s ease-in-out;
}

.btn--outline:hover {
    background-color: var(--color-secondary-light);
    box-shadow: 2px 2px 12px -6px gray;
    transform: scale(1.02);
}

.btn--primary-light {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    transition: all 0.2s ease-in-out;
}

.btn--primary-light:hover {
    background-color: var(--color-primary);
    box-shadow: 2px 2px 12px -6px gray;
    color: #fff;
    transform: scale(1.02);
}

.btn--block {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    display: block;
    margin: 1rem 2rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.btn--block:hover {
    background-color: var(--color-primary);
    box-shadow: 2px 2px 12px -6px gray;
    color: #fff;
    transform: scale(1.02);
}

.btn-group.btn {
    padding: 15px 15px 15px 5px;
    width: 150px;
}

.btn__icon {
    padding: 0 10px;
}

.btn .icon {
    width: 42px;
    height: 22px;
}


/* Input group */

.input-group {
    align-items: center;
    background-color: var(--color-secondary-light);
    border-radius: var(--border-radius);
    display: inline-flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 0.5rem 1rem;
    padding: 1rem;
}

.input-group .icon {
    cursor: pointer;
    height: 20px;
    width: 45px;
}

.input-group .input {
    background-color: transparent;
    border: none;
    color: var(--color-border);
    min-width: 300px;
    outline: none;
    padding: 0.5rem;
}

.input-group .input::placeholder {
    color: var(--color-border);
}


/* Navigation bar */

.nav {
    background-color: var(--color-primary);
}

.nav__menu {
    font-weight: lighter;
    text-transform: capitalize;
    color: #fff;
    font-size: 2rem;
    /* display: flex; */
    list-style: none;
    padding-right: 2rem;
}

.nav__item {
    display: inline-block;
    padding: 1.8rem;
    transition: all 0.2s ease;
}

.nav__item.active {
    background-color: var(--color-secondary);
}

.nav__item .icon {
    width: 40px;
    height: 20px;
}

.nav__item:last-child {
    /* flex-grow: 1; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.nav__item:hover {
    background-color: var(--color-secondary);
}


/* Badges */

.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 25px;
    padding: 1rem;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.123);
}

.badge--primary {
    color: #fff;
    background-color: var(--color-primary);
}

.badge--secondary {
    background-color: var(--color-secondary-light);
}

.badge .icon {
    width: 13px;
    height: 13px;
    margin: 0.3rem;
}

.badge__index {
    color: var(--color-border);
    font-size: 0.9rem;
    padding-left: 0.3rem;
}